#!/bin/sh
#
# This file is sourced by configure and is used to specify all the various
# directories into which the GridShib-CA is installed. These options
# can all be overridded on configure commandline (run 'configure --help')
#

# The name to use as the componet for all the various directories
# in which the GridShib CA is installed.
#
GRIDSHIB_CA_DIR_NAME=gridshib-ca

# Where the GridShib CA configuration should be stored. This directory
# should not be accessible via the web.
#
# Default: /usr/local/gridshib-ca
GRIDSHIB_CA_CONF_DIR=/usr/local/${GRIDSHIB_CA_DIR_NAME}

# Base directory for Httpd.
WWW_DIR=/var/www

# Base URL for GridShib-CA cgi-bin directory.
#
# Default: /cgi-bin/gridshib-ca
CGI_BIN_URL=/cgi-bin/${GRIDSHIB_CA_DIR_NAME}

# Directory for GridShib-CA cgi-bin.
#
# Default: /var/www/cgi-bin/gridshib-ca
CGI_BIN_DIR=${WWW_DIR}${CGI_BIN_URL}

# Base URL for the Shibboleth-protected cgi-bin directory.
#
# Default: /cgi-bin/gridshib-ca-protected
SHIB_PROTECTED_CGI_BIN_URL=${CGI_BIN_URL}-protected

# Directory for Shibboleth-protected cgi-bin directory.
#
# Default: /var/www/cgi-bin/gridshib-ca-protected
SHIB_PROTECTED_CGI_BIN_DIR=${WWW_DIR}${SHIB_PROTECTED_CGI_BIN_URL}

# Base URL for GridShib-CA
#
# Default: /gridshib-ca/
GRIDSHIB_URL=/${GRIDSHIB_CA_DIR_NAME}/

# Directory for GridShib-CA HTML
GRIDSHIB_HTML_DIR=${WWW_DIR}/html/${GRIDSHIB_URL}

