<html>
<head>
  <title>GridShib CA Debug Page</title>
  <META HTTP-EQUIV=\"Pragma\" CONTENT=\"no-cache\">
  <META HTTP-EQUIV=\"Expires\" CONTENT=\"-1\">
</head>
<body>
<h1>GridShib CA Debug Page</h1>
Version { $Version }
<p>
<hr/>
<h2>Sign-On Methods</h2>
<p>
<ul>
{
  my %SignOnMethods = $Config->getSection("AuthMethods");
  foreach my $key (keys(%SignOnMethods)) {
    my $url = cleanURL($SignOnMethods{$key});
    $OUT .= "<li><a href=\"$url\">$key</a></li>";
  }
}
</ul>
</p>
<hr/>
<h2>Commands</h2>
<p>
<ul>
{
  my %Commands = $Config->getSection("Commands");
  foreach my $command (keys(%Commands)) {
    $OUT .= "<li><a href=\"GridShibCA.cgi?command=$command\">$command</a></li>\n";
  }
}
</ul>
</p>
{
  if ((%Attributes) &&
      (exists($Attributes{'Shib_Identity_Provider'})) &&
      (length($Attributes{'Shib_Identity_Provider'}) > 0)) {
    $OUT .= '
<h2>Special Commands</h2>
<p>
  <form method="POST" action="';
    $OUT .= $ShibProtectedURL;
    $OUT .= '/shibLaunchGSCA.jnlp">
    ';
    $OUT .= $CSRF->getFormElement();
    $OUT .= '
    <input type="submit" value="Shibboleth-protected JWS Launch"/>
  </form>
</p>';
  } else {
    $OUT .= "\n";
  }
}
<hr/>
<h2>Session Dump</h2>
<p>
{ if ($SessionId) { $OUT .= "Session Id: $SessionId\n"; } }
</p>
<table>
{
  foreach my $key (keys(%session)) {
     $OUT .= "<tr><td>$key</td><td>$session{$key}</td></tr>\n";
  }
}
</table>
<p>
<h3>Attributes</h3>
</p>
<table>
{
  foreach my $key (sort(keys(%Attributes))) {
     $OUT .= "<tr><td>$key</td><td>$Attributes{$key}</td></tr>\n";
  }
}
</table>
</body>
</html>
