<html>
<!--
This template is used to display error messages to the user.

Values filled in for this page (besides default values):
 Error - error string.
-->
<head>
  <title>GridShib CA Error</title>
</head>
<body>
<center>
<h1>GridShib CA</h1>
(Version {$Version})
<p>
An error has occurred:
</p>
<p>
{$Error}
</p>
<p>
For help you can contact the administrator of this GridShib-CA at
{$ContactAddress}
</p>
<p>
Return to the <a href="https://cilogon.org/">CILogon Welcome Page</a>.
</p>
</center>
</body>
</html>
